*.jar
*.war
*~
*.class
*.lock
*.DS_Store
*.swp
*.out
*.MF
target/
*.iml
*.ipr
*.iws
*.log
.settings/
.classpath
.class);.metadata/
.idea/
logs/
.log
product.properties
server.properties
dependency-reduced-pom.xml
/bin
.mymetadata
pom.xml.versionsBackup
/LOG_HOME_IS_UNDEFINED/debug.201711091106.0.log.gz
*/.duubo/
