<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chen.mybatis.demo3.mapper.ESqlMapper">

    <sql id="userColumns">${alias}.ID,${alias}.NAME,${alias}.BOOK</sql>

    <select id="sqlPlaceholderSelect" resultType="java.util.HashMap">
        select
        <include refid="userColumns"><property name="alias" value="t1"/></include>
        FROM T_BLOG t1 limit 1
    </select>


    <sql id="blogtable">
        ${prefix}blog
    </sql>

    <sql id="bloginclude">
        from 
        <include refid="${include_target}"/>
    </sql>


    <select id="sqlInnerPropertySelect" resultType="java.util.HashMap">
        select *
        <include refid="bloginclude">
            <property name="prefix" value="t_"/>
            <property name="include_target" value="blogtable"/>
        </include>
        limit 1
    </select>


</mapper>